@use '/styles/colors';

.nav-container {
  position: relative;
  top: 64px;
  left: -13px;
  display: flex;
  flex-direction: column;
  font-size: 13px;

  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 60px;
    background: colors.$nav-background;
    border: 1px solid colors.$song;
    border-radius: 0px 5px 5px 0px;
    color: colors.$white;
    margin-bottom: 2px;

    &.selected {
      color: colors.$black;
      background-color: colors.$white;
    }
  }
}
