$black: #000;
$blue: #55b2d4;
$yellow: #ffe400;
$coral: #ee3e61;
$red: #ff0000;
$white: #fff;

$song: #0f465e;
$border: #999;
$border-diary: #ddd;
$bar-background: #eee;
$card-background: #f6f6f6;
$nav-background: #298eb5;
